@{
    ViewBag.Title = "Thông Tin";
}
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Font Awesome icons (free version)-->
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="~/Content/css/aboutus.css" rel="stylesheet" />
<body id="page-top">
    <!-- Navigation-->
    <!-- Header-->
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container px-5">
                <h1 class="masthead-heading mb-0">Thành công trải qua thất bại này đến thất bại khác</h1>
                <h2 class="masthead-subheading mb-0">Không mất đi sự nhiệt huyết</h2>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="~/Content/images/icons/banchan.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Nâng Niu Đôi Bàn Chân Việt</h2>
                        <p>Cuộc đời là những bước chân mà ta mãi nâng niu. Là một trong số ít thương hiệu chiếm trọn được niềm tin yêu của người Việt, từ một "câu chuyện tuổi thơ" tưởng chừng bị lãng quên, cùng chiến dịch truyền thông hiệu quả, TD Sneakers trở lại ngoạn mục trên đường đua giày sneaker và giày dép dành cho mọi lứa tuổi.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 2-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="~/Content/images/icons/giaycu.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Một Đôi Giày Có Khả Năng Thay Đổi Cuộc Đời Của Bạn</h2>
                        <p>Với một đôi giày có thể thay cho từng bước chân của bạn, từng bước đi vững vàng và chắc chắn. Nâng tầm bước chân của bạn!!  </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 3-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="~/Content/images/icons/giaynat.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Bức Phá Để Thành Công</h2>
                        <p>Mỗi bước đi chúng ta điều có một trải nghiệm. Đừng bao giờ cho phép mình sợ hãi, mà hãy dùng trí tưởng tượng để nhận diện và xua đi niềm tin hạn chế trong lòng. Bạn hãy gỡ bỏ “giới hạn” đã áp đặt cho bản thân, để tâm hồn trẻ trung trong ta được mơ mộng, tưởng tượng và sáng tạo từ những khát khao đầu tiên. Hãy ban cho mình sức mạnh để phát triển vượt cả những hình dung, tạo nên kỳ tích cho chính mình.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-black">
        <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; TD Sneakers</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Content/js/aboutus.js"></script>
</body>
